canvas {
    background-color: white;
    margin-left: 750px;
    margin-top: 5px;
    border: 5px solid blueviolet;
}
body {
    background-color: #2aabd2;
}
h1{
    margin-left: 820px;
    margin-top: 300px;
}